<a href="https://colab.research.google.com/github/harshitgaur2205/22BCE0138/blob/main/222BCE0138.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
url = "https://raw.githubusercontent.com/salemprakash/EDA/main/Data/txhousing.csv"
df = pd.read_csv(url)

In [5]:
print("\nDataset Dimensions:", df.shape)

Dataset Dimensions: (8602, 10)

In [6]:
print("\nSummary of the Dataset:\n", df.describe())

Summary of the Dataset:
           rownames         year        month        sales        volume  \
count  8602.000000  8602.000000  8602.000000  8034.000000  8.034000e+03
mean   4301.500000  2007.299465     6.406417   549.564600  1.068586e+08
std    2483.327841     4.502923     3.441932  1110.737179  2.449337e+08
min       1.000000  2000.000000     1.000000     6.000000  8.350000e+05
25%    2151.250000  2003.000000     3.000000    86.000000  1.084000e+07
50%    4301.500000  2007.000000     6.000000   169.000000  2.298682e+07
75%    6451.750000  2011.000000     9.000000   467.000000  7.512139e+07
max    8602.000000  2015.000000    12.000000  8945.000000  2.568157e+09

              median      listings    inventory         date
count    7986.000000   7178.000000  7135.000000  8602.000000
mean   128131.442524   3216.902340     7.174590  2007.750000
std     37359.575317   5968.331072     4.612125     4.498718
min     50000.000000      0.000000     0.000000  2000.000000
25%    100000.000000    682.000000     4.900000  2003.833333
50%    123800.000000   1283.000000     6.200000  2007.750000
75%    150000.000000   2953.750000     8.150000  2011.666667
max    304200.000000  43107.000000    55.900000  2015.500000

In [7]:
print("\nData Types and Missing Values:\n", df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8602 entries, 0 to 8601
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   rownames   8602 non-null   int64
 1   city       8602 non-null   object
 2   year       8602 non-null   int64
 3   month      8602 non-null   int64
 4   sales      8034 non-null   float64
 5   volume     8034 non-null   float64
 6   median     7986 non-null   float64
 7   listings   7178 non-null   float64
 8   inventory  7135 non-null   float64
 9   date       8602 non-null   float64
dtypes: float64(6), int64(3), object(1)
memory usage: 672.2+ KB

Data Types and Missing Values:
 None

In [8]:
print("\nMissing Values:\n", df.isnull().sum())

Missing Values:
 rownames        0
city            0
year            0
month           0
sales         568
volume        568
median        616
listings     1424
inventory    1467
date            0
dtype: int64

In [12]:
numeric_columns = df.select_dtypes(include=[np.number]).columns

# Filling missing values in numeric columns with the mean of each column
df_clean = df.copy()  # Make a copy of the dataframe
df_clean[numeric_columns] = df_clean[numeric_columns].fillna(df[numeric_columns].mean())

# Check for missing values after cleaning
print("\nMissing Values After Cleaning:\n", df_clean.isnull().sum())
print(()

Missing Values After Cleaning:
 rownames     0
city         0
year         0
month        0
sales        0
volume       0
median       0
listings     0
inventory    0
date         0
dtype: int64